.medium-2-DE5M .input-1Rv96N, .medium-2-DE5M .tag-2gHSR7 {
  border-radius: 24px;
}

.contentWrapper-2txmjs{
  width: 800px;
  right: 390px;
}

.navButton-3Mnpqt {
  left: 290px;
}

.medium-2-DE5M .input-1Rv96N, .medium-2-DE5M .tag-2gHSR7 {
  text-align: center;
}

.input-3Xdcic{
  border-radius: 24px;
  text-align: center;
}
