.layers-3iHuyZ {
    align-items:center;
    justify-content:center;
  }
  .layers-3iHuyZ > .layer-3QrUeG:first-child {
    opacity: 1 !important;
    transform: none !important;
    filter: blur(4px);
  }
  .layers-3iHuyZ > .layer-3QrUeG:nth-child(2) {
    width: 90%;
    height: 70%;
    top: unset;
    bottom: unset;
    right: unset;
    left: unset;
    border-radius: 8px;
    z-index: 100;
    background: transparent;
    transform: translateZ(0);
    overflow: visible
  }