/* rounded corners */
.connectedAccount-36nQx7{
  border-radius: 24px;
}
.root-SR8cQa{
  border-radius: 24px;
}
.userPopout-3XzG_A{
  border-radius: 24px;
}
.actionButton-3W1xZa{
  border-radius: 24px;
}
.cardPrimary-1Hv-to{
  border-radius: 24px;
}
.userInfoEditing-1CEzdT{
  border-radius: 24px;
}
.button-38aScr{
  border-radius: 24px;
}
.input-cIJ7To{
  border: 0px;
  border-radius: 24px;
}
.item-26Dhrx{
  border-radius: 24px;
}
/* gradient */
.headerTop-3C2Zn0{
  background: linear-gradient(180deg, rgba(0,0,0,0.739087358576243) 0%, rgba(0,132,255,0) 100%);
}
.activityUserPopout-2yItg2{
  background: linear-gradient(0deg, rgba(0,0,0,0.739087358576243) 0%, rgba(0,132,255,0) 100%);
}
.header-QKLPzZ{
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,132,255,0) 100%);
}
/* colors */
.videoGridWrapper-2BDlMX{
  background-color: #202225;
}
.tabBody-3YRQ8W{
  background-color: #202225;
}
.nowPlayingScroller-2XrVUt{
  background-color: #202225;
}
.momentum-2CXCBH{
  background-color: #202225;
}
.privateChannels-1nO12o{
  background-color: #202225;
}
.container-PNkimc{
  background-color: #202225;
}
.container-1giJp5{
  background-color: #202225;
}
.container-3baos1{
  background-color: #202225;
}
.scroller-1JbKMe{
  background-color: #202225;
}
.title-3qD0b-{
  background-color: #202225;
}
.container-1r6BKw.themed-ANHk51{
  background-color: #202225;
}
.messages-3amgkR{
  background-color: #1c1e20;
}
.members-1998pB{
  background-color: #202225;
}
.form-2fGMdU{
  background-color: #202225;
}
.form-2fGMdU:before{
  opacity: 0;
}
.children-19S4PO:after{
  opacity: 0;
}
.flexCenter-2Y_vCg{
  background-color: #202225;
}
.inner-MADQqc{
  background-color: #202225;
}
.scrollableContainer-2NUZem{
  background-color: #202225;
}
.sidebarRegionScroller-3MXcoP{
  background-color: #202225;
}
.contentRegionScroller-26nc1e{
  background-color: #202225;
}
/* width/height */
.root-SR8cQa{
  width: 900px;
}
.sidebar-2K8pFh{
  width: 300px;
}
.layout-2DM8Md{
  width: 350px;
}
.title-3qD0b-{
  height: 35px;
}
.header-2o-2hj{
  height: 35px;
}
.bannerImage-1jOskm{
  width: 300px;
}
.slateTextArea-1Mkdgw{
  width: 300px;
}
